<nav>

  <a span id ="navbar" href="/">Wiki-Home</span></a>

  <span id ="login" ><a id="login-name" href ="/profile"></a></span>


</nav>
<script type="text/javascript" src="/scripts/loadUsername.js"></script>
