<nav>

  <span id ="navbar">Wiki-Home</span>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/maps/new">Create New</a>
    <a class="nav-item nav-link" href="/edit">Edit or Contribute</a>
  </div>
  <span id ="login" ><div><a href ="/profile">Username</a></span>


</nav>
