<nav>

  <span id ="navbar">Wiki-Home</span>

    <a span id="new-map" href="/maps/new">Create New</a>
    <a span id="contribute" href="/edit">Edit or Contribute</a>
  <span id ="login" ><a href ="/profile">Username</a></span>


</nav>
