<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Enter Map Details</h1>
    <form action="/maps" method="POST">
      <div class="form-group">
        <label for="newMapName">Map Name</label>
        <input type="newMapName" class="form-control" name="newMapName" placeholder="My Favourite Map">
      </div>
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="latitude" name="latitude" class="form-control" aria-describedby="emailHelp" placeholder="Enter Latitude">
        <small id="emailHelp" class="form-text text-muted">Type in a location's address to find it on the map.</small>
      </div>
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="longitude" class="form-control" name="longitude" placeholder="Enter Longitude">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    </style>
  </body>
</html>
