<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki Map - Your contributions</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>

    <%- include('./partials/nav.ejs') %>

    <main class="container">
      <section id ="list-container">
        Add Point - Default selection
        <br>
        <br>
        edit point
        <br>
        <br>
        Remove Point - need Jquery to change option
        <br>
        <br>
        Edit map

      </section>

    <section class="form-container">
        <h1>Enter Point details</h1>
        Title:
        <br>
        <input type="pointTitle" name="pointTitle" placeholder="Name your point">
        <br><br>
        Description:
        <br>
        <input type="pointDescription" name="pointDescription" placeholder="What is this place?">
        <br><br>
        Image:
        <input type="pointImage" name="pointImage" placeholder="Image link">
        <br><br>
        Longitutude:
        <input type="pointLong" name="pointLong" placeholder="Point Longitude">
        <br><br>
        Latitude:
        <input type="pointLat" name="pointLat" placeholder="Point Latitude">
        <br><br>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

      </section>


    </main>

  </body>
  <script type="text/javascript" src="/scripts/app.js"></script>
</html>
