#map {
  height: 700px;
  width: 150%;
  margin-left: 500px;
}

li :hover {
  cursor: pointer;
  color: #cf4265;
}

ul :hover {
  cursor: pointer;
  color: #cf4265;
}

h1 {
  font-family: "Koulen", cursive;
}

h2 {
  font-family: "Koulen", cursive;
}

