// See: https://sass-lang.com/

body,
html {
  margin: 30;
}

nav {
  color: #FFFFFF;
  background-color:#cf4265;
  height:120px;
  width:100%;
  padding-left:1.5em;
  padding-right:1.5em;
  display: flex;
  font-family: Source Sans Pro, sans-serif;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* unvisited link */
  a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  }

  body {
    font-size: 24px;
    background-color: #f4f1ec;
    font-family: Source Sans Pro, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;

  }

  #login {
    color: #FFFFFF;

  }

   nav {
    font-family: Bungee, sans-serif;

   }

   .container {
     display: flex;
     align-items: center;
     width: 100%;
     height: 100%;
     background-color: #f4f1ec;
     display: flex;
     flex-direction: row;
    //  gap: 20px;

   }

   .map-area{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f4f1ec;
    display: flex;
    flex-direction: column;
  }

  #list-container{
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-left: 50px;

  }

  header {
    font-family: 'Koulen', cursive;
    height: 50x;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin-top: 100px;
    background-color: #f4f1ec;
    padding-right: 30px;
    padding-top: 40px;

    a:link {
      color: black;
      text-decoration: none;
    }

    /* visited link */
    a:visited {
      color: black;
      text-decoration: none;
    }
}

