// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

nav {
  color: #FFFFFF;
  background-color:#4056A1;
  height:120px;
  width:100%;
  padding-left:1.5em;
  padding-right:1.5em;
  display: flex;
  font-family: Source Sans Pro, sans-serif;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */

  }

  #login {
    color: #FFFFFF;

  }

   nav {
    font-family: Bungee, sans-serif;

   }

   .container {
     display: flex;
     align-items: center;
     width: 90%;
     background-color: #f4f1ec;
     display: flex;
     flex-direction: column;
     gap: 30px;

   }
