// body {
//   display: flex;
//   // justify-content: space-between;
//   // flex-direction: column;
//   // justify-content: flex-end;
//    min-height: 50vh;

//   background: rgb(163, 208, 219);
//   background: linear-gradient(
//     227deg,
//     rgba(163, 208, 219, 1) 0%,
//     rgba(163, 176, 219, 1) 20%,
//     rgba(163, 173, 219, 1) 34%,
//     rgba(163, 219, 208, 1) 59%,
//     rgba(163, 208, 219, 1) 74%,
//     rgba(163, 208, 219, 1) 100%
//   );
// }

#map {
  height: 700px;
  width: 150%;
  margin-left: 500px;
}

li :hover {
  cursor: pointer;
  color: aqua;
}

ul :hover {
  cursor: pointer;
  color: aqua;
}

#map-title {
  margin-top: -60px;
}

h1 {
  font-family: "Koulen", cursive;
  margin-left: 420px;
}

h2 {
  font-family: "Koulen", cursive;
}

@import "nav";
@import "header";
@import "mapsLists";
