.container-new-map {
  display: flex;
  flex-direction: column;
}

.new-map-header {
  padding-top: 1.1em;
  font-size: 3em;
  margin-left: 850px;
}

#horiz-content {
  display: flex;
  flex-direction: column;
}

p {
  font-weight: 600;
}

label {
  font-weight: 600;
}

#new-map {
  height: 650px;
  width: 1600px;
  margin-left: 130px;
}

.form-control {
  width: 300px;
}

.form-check {
  padding-bottom: 0.5rem;
}

.form-check label {
  margin-top: 0.22rem;
}

.instructions {
  margin-left: 600px;
}
